.App-link {
  color: #61dafb;
}


.navbar-items {
  background: linear-gradient(90deg,#1404f3, 0%, #081be4, 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

li {
  list-style-type:none;
}
